.home__hero__section {
  color: #fff;
  padding: 160px 0;
}

.home__hero__row {
  align-items: center;
}

.__row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.__col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero__text__wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top__line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.__heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.__dark {
  color: #1c2237;
}

.__darkBg {
  background-color: #1c2237;
}

.home__hero__subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero__img__wrapper {
  max-width: 555px;
}

.home__hero__img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .__container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero__text__wrapper {
    padding-bottom: 65px;
  }

  .__col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
